<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ema</title>

    <!-- scrips -->
    <script src="../jquery.js"></script>
    <script src="../jquery-ui.js"></script>
    <script src="../jquery.cookie.js"></script>
    <script src="../chart.js"></script>
    <script src="../util.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../clean-blog.min.js"></script>
    <!-- NOT SURE IF NEEDED
    <script src="../progressbar.js"></script>
    <script src="../myChartAndProgress.js"></script>
    <script src="../chrome.min.js"></script>
    -->
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts  
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <style type="text/css">
        #navDiv{
            height: 16vh;
            /*background-color: #000080;*/
            background-color:white;
            color: white;
            border-bottom: 2px solid black;
        }
        #logo{
            font-size: 46px;
            color: white;
            margin-left: 0px;
            float: left;
            padding: 10px;
        }
        #logoImg{
            width: 120px;
        }
        #topNavLinks{
            float: right;
            margin-right: 20px;

        }
        .topNavButtonSpan{
            color: black;
        }
        #loggedAsDiv{
            color: black;
            float: right;
            margin-right: 20px;
            margin-top: 30px;
        }
        #sideNav{
            background-color:  white;
            height:100vh;
            text-align: center;
            border-right: 2px solid black;
            background-image: url("../sidenav.png");
            background-size: 100%;
        }
        #sidenavLinks{
            background: rgba(255, 255, 255, 0.85);
            border-radius: 4px;
        }

        .offer{
            background-color: white;
            border: 1px solid grey;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px;
            margin-bottom: 14px;
            padding: 4px;
        }
        .approved_item{
            border: 1px solid grey;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px;
            margin-bottom: 14px;
            padding: 4px;
        }
        .approved_item_requested{
            border: 1px solid grey;
            background-color: lightgreen;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px;
            margin-bottom: 14px;
            padding: 4px;
        }
        .not_visible{
            border: 10px solid black;
        }
        .pending_item{
            border: 1px solid grey;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px;
            margin-bottom: 14px;
            padding: 4px;
        }
        .seller_idDiv{
            
        }
        .form-group{
            margin-bottom: 0px;
        }
        .sendDeleteDiv{
            float:right;
            margin-bottom: 6px;
            margin-right: 12px;
        }
        .requested_byDiv{
            color: black;
            font-style: italic;
            margin-left: 10px;
        }
        body{
            background-color: #f9f9f9;
        }
        textarea{
            width: 95%;
        }
    </style>


    <!-- Navigation -->
    <nav >
        <div id = "navDiv">

            <div id="logo">
                <img id="logoImg" src="../logo.png">
            </div>
            <div id="topNavLinks">
                
                <a href="index.html"><span class="topNavButtonSpan">Home</span></a> 
                <a href="about.html"><span class="topNavButtonSpan">About</span></a>  
                <a href="contact.html"><span class="topNavButtonSpan">Contact</span></a>
                  
            </div>
            <br>

            <div id = "loggedAsDiv">Logged as: </div>
            <script type="text/javascript">
                var username =   $.cookie("username")
                $("#loggedAsDiv").text("Logged as: "+username)
            </script>
        </div>
    </nav>
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 " id="sideNav">
                <div id="sidenavLinks">
                    <h1>Menu</h1>
                    <div><a href="/admin">Inventory</a></div>
                    <div><a href="/adminorders">Orders</a></div>
                    <div><a href="/adminusers">Accounts</a></div>
                </div>
            </div>
            <div class="col-sm-10 ">
                <script type="text/javascript">
                function deleting (item_id) {
                    console.log(22)
                    $(".actionType").val('deleting');
                    $("#form1"+item_id).submit();
                }
                function visibility (item_id) {
                    console.log(22)
                    $(".actionType").val('visibility');
                    $("#form1"+item_id).submit();
                }
                </script>
                <h1>Add offer:</h1>
                <div class="offer">
                    <form class="form-horizontal"  method="post"  id="form1">
                        <div class="form-group">
                            
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" name="name" placeholder="item name" value =""/>
                            </div>
                            <div class="col-sm-1 mycol">
                                <input type="text" class="form-control" name="cubics" placeholder="available" value =""/>
                            </div>
                            <div class="col-sm-1 mycol">
                                &nbsp; &#13221;
                            </div>
                            <div class="col-sm-1 mycol">
                                <input type="text" class="form-control" name="price"  placeholder="price" value =""/>
                            </div>  
                            <div class="col-sm-1 mycol">
                                &nbsp;  &euro;/&#13221;
                            </div> 
                            <div class="col-sm-4 "> 
                                <textarea placeholder="Comment (optional)" rows="1" name="comment"></textarea>
                            </div>
                            
                        </div>
                        <div class="row">
                            
                            <div class="col-sm-0">
                                <div class ="seller_idDiv">
                                    
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class= "sendDeleteDiv">
                                    <input class ="actionType" type="hidden" name="actionType" style="" value ="adding">
                                    <input type="submit" value="Add">
                                </div>
                            </div>
                            
                        </div>
                        
                    </form>
                </div>

                <h1>New offers:</h1>
                
                {% for pending_offer in pending_offers %}
                <!--
                <div class="row">
                    
                    <form method="post" id="form1{{pending_offer.key().id()}}">   
                    <div>{{pending_offer.seller_id}}</div>                
                        <input type="text" name="name" value ="{{pending_offer.item_name}}">
                        <input type="text" name="cubics" style="width:90px;" value ="{{pending_offer.item_cubics}}">
                        <input type="text" name="price" style="width:90px;" value ="{{pending_offer.item_price}}">
                        <input type="textbox" name="comment" value ="{{pending_offer.comment}}">
                        <input type="hidden" name="offer_id" style="" value ="{{pending_offer.key().id()}}">
                        <input class ="actionType" type="hidden" name="actionType" style="" value ="approving">
                        <input type="submit" value="Approve">
                            <input type="button" value="Delete" onclick="deleting({{pending_offer.key().id()}})">
                        
                    </form>

                   
                </div>
                -->

                <div class="pending_item">
                    <form class="form-horizontal"  method="post"  id="form1{{pending_offer.key().id()}}">
                        <div class="row">
                            <div class="col-sm-12">
                            <div  style="width: 100px; height: 24px;overflow: hidden; text-overflow: clip;">{{pending_offer.date}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class ="seller_idDiv">

                                    seller: {{pending_offer.seller_id}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class= "sendDeleteDiv">
                                    <input type="hidden" name="offer_id" style="" value ="{{pending_offer.key().id()}}">
                                    <input class ="actionType" type="hidden" name="actionType" style="" value ="approving">
                                    <input type="submit" value="Approve">
                                        <input type="button" value="Delete" onclick="deleting({{pending_offer.key().id()}})">
                                </div>
                            </div>
                            
                        </div>
                       
                        <div class="form-group">
                            
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="name" placeholder="item name" value ="{{pending_offer.item_name}}"/>
                            </div>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" name="cubics" placeholder="cubics" value ="{{pending_offer.item_cubics}}"/>
                            </div>
                            <div class="col-sm-1 mycol">
                                &nbsp; &#13221;
                            </div>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" name="price"  placeholder="price" value ="{{pending_offer.item_price}}"/>
                            </div> 
                            <div class="col-sm-1 mycol">
                                &nbsp;  &euro;/&#13221;
                            </div>  
                            <div class="col-sm-4"> 
                                <textarea placeholder="Comment (optional)" rows="1" name="comment">{{pending_offer.comment}}</textarea>
                            </div>
                            
                        </div>
                        
                    </form>
                </div>
                {% endfor %}

                <h1>Approved offers:</h1>
                {% for approved_offer in approved_offers %}
                {% if approved_offer.requested_by!="" %}
               
                    {% if approved_offer.visible =="no" %}
                    <div class="approved_item_requested not_visible">
                    {% else %}
                    <div class="approved_item_requested">
                    {% endif %}
                {% else %}
                    {% if approved_offer.visible =="no" %}
                    <div class="approved_item not_visible">
                    {% else %}
                    <div class="approved_item">
                    {% endif %}
                {% endif %}
                    <form class="form-horizontal"  method="post"  id="form1{{approved_offer.key().id()}}">
                        <div class="row">
                            <div class="col-sm-6">
                                <div  style="width: 100px; height: 24px;overflow: hidden; text-overflow: clip;">{{approved_offer.date}}</div>
                                <div class ="seller_idDiv">
                                    <div class="requested_byDiv">{{approved_offer.requested_by}}</div>

                                    seller: {{approved_offer.seller_id}}

                                    
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class= "sendDeleteDiv">
                                    <input type="hidden" name="offer_id" style="" value ="{{approved_offer.key().id()}}">
                                    <input class ="actionType" type="hidden" name="actionType" style="" value ="editing">
                                    <input type="submit" value="Save changes">
                                        <input type="button" value="Delete" onclick="deleting({{approved_offer.key().id()}})">
                                        <input type="button" value="Visibility" onclick="visibility({{approved_offer.key().id()}})">
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            
                            <div class="col-sm-4">
                                {{approved_offer.item_name_original}}
                            </div>
                            <div class="col-sm-1 mycol" >
                                {{approved_offer.item_cubics_original}}
                            </div>
                            <div class="col-sm-1 mycol">
                                &nbsp; &#13221;
                            </div>
                            <div class="col-sm-1 mycol">
                                {{approved_offer.item_price_original}}
                            </div>   
                            <div class="col-sm-1 mycol">
                                &nbsp;  &euro;/&#13221;
                            </div>
                            <div class="col-sm-4"> 
                                <textarea placeholder="Comment (optional)" rows="1" name="comment">{{approved_offer.comment_original}}</textarea>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="name" placeholder="item name" value ="{{approved_offer.item_name}}"/>
                            </div>
                            <div class="col-sm-1 mycol" >
                                <input type="text" class="form-control" name="cubics" placeholder="cubics" value ="{{approved_offer.item_cubics}}"/>
                            </div>
                            <div class="col-sm-1 mycol">
                                &nbsp; &#13221;
                            </div>
                            <div class="col-sm-1 mycol">
                                <input type="text" class="form-control" name="price"  placeholder="price" value ="{{approved_offer.item_price}}"/>
                            </div>   
                            <div class="col-sm-1 mycol">
                                &nbsp;  &euro;/&#13221;
                            </div>
                            <div class="col-sm-4"> 
                                <textarea placeholder="Comment (optional)" rows="1" name="comment">{{approved_offer.comment}}</textarea>
                            </div>
                            
                        </div>
                       
                        
                    </form>
                </div>
                
                {% endfor %}
            </div>

        </div>
        
        
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container" style="position: relative;bottom: 20px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        var h = $( document ).height();
        $( "#sideNav" ).height(h);
    </script>


</body>

</html>
