<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- scrips -->
    <script src="../jquery.js"></script>
    <script src="../jquery-ui.js"></script>
    <script src="../chart.js"></script>
    <script src="../util.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../clean-blog.min.js"></script>
    <!-- NOT SURE IF NEEDED
    <script src="../progressbar.js"></script>
    <script src="../myChartAndProgress.js"></script>
    <script src="../chrome.min.js"></script>
    -->
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts 
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <style type="text/css">
        #navDiv{
            height: 12vh;
            background-color: #000080;
            color: white;
            border-bottom: 2px solid black;
        }
        #logo{
            font-size: 46px;
            color: white;
            margin-left: 20px;
            float: left;
        }
        #topNavLinks{
            float: right;
            margin-right: 20px;
        }
        .topNavButtonSpan{
            color: white;
        }
        #sideNav{
            background-color:  white;
            height:100vh;
            text-align: center;
            border-right: 2px solid black;
        }


        .order{
            background-color: white;
            border: 1px solid grey;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px;
            margin-bottom: 14px;
            padding: 4px;
        }
        .approved_item{
            border-bottom: 1px solid grey;
            margin: 4px;
            padding: 4px;
        }
        .order_by_idDiv{
            
        }
        .form-group{
            margin-bottom: 0px;
        }
        .sendDeleteDiv{
            float:right;
            margin-bottom: 6px;
            margin-right: 12px;
        }
        body{
            background-color: #f9f9f9;
        }
        textarea{
            width: 95%;
        }
    </style>
    <!-- Navigation -->
   <nav >
       <div id = "navDiv">

           <div id="logo">WOOD</div>
           <div id="topNavLinks">
               
               <a href="index.html"><span class="topNavButtonSpan">Home</span></a> 
               <a href="about.html"><span class="topNavButtonSpan">About</span></a>  
               <a href="contact.html"><span class="topNavButtonSpan">Contact</span></a>
                 
           </div>
       </div>
   </nav>
    

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <!-- 
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	-->
    <!-- Main Content -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->

   <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 " id="sideNav">
                <h1>Menu</h1>
                <div><a href="/admin">Inventory</a></div>
                <div><a href="/adminorders">Orders</a></div>
                <div><a href="/adminusers">Accounts</a></div>
            </div>
            <div class="col-sm-10 ">
                <script type="text/javascript">
                function deleting (item_id) {
                    console.log(22)
                    $(".actionType").val('deleting');
                    $("#form1"+item_id).submit();
                }
                </script>

                <h1>Orders:</h1>
                {% for order in orders %}
                <!--
                <div class="row">
                    <div class="col-sm-2 "> <span class="order_from">{{order.requester_id}}:</span></div>
                    <div class="col-sm-3 "> <span class="item_name">{{order.item_name}}:</span></div>
                    <div class="col-sm-2 "><span class="item_cubics">{{order.item_cubics}} &#13221;</span></div>
                    <div class="col-sm-2 "><span class="item_price">at: {{order.item_price}} /&#13221;</span></div>
                    <div class="col-sm-1 "><span class="item_comment">{{order.comment}}</span></div>
                    <div class="col-sm-2 "><span class="from_inventory">from inv. {{order.from_inventory}}</span>

                    </div>

                </div>
                <hr>
                -->
                <div class="order">
                    <form class="form-horizontal"  method="post"  id="form1{{order.key().id()}}">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class ="order_by_idDiv">
                                    By: {{order.requester_id}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class= "sendDeleteDiv">
                                    <input type="hidden" name="offer_id" style="" value ="{{order.key().id()}}">
                                    <!--<input class ="actionType" type="hidden" name="actionType" style="" value ="approving">
                                    <input type="submit" value="Approve">
                                        <input type="button" value="Delete" onclick="deleting({{order.key().id()}})">
                                        -->
                                </div>
                            </div>
                            
                        </div>
                       
                        <div class="form-group">
                            
                            <div class="col-sm-4">
                                <!--<input type="text" class="form-control" name="name" placeholder="item name" value ="{{order.item_name}}"/>-->{{order.item_name}}
                            </div>
                            <div class="col-sm-2">
                                <!--<input type="text" class="form-control" name="cubics" placeholder="cubics" value ="{{order.item_cubics}} &#13221;"/>-->{{order.item_cubics}} &#13221;
                            </div>
                            <div class="col-sm-2">
                                <!--<input type="text" class="form-control" name="price"  placeholder="price" value ="{{order.item_price}} $/&#13221;"/>-->{{order.item_price}} $/&#13221;
                            </div>   
                            <div class="col-sm-4"> 
                                <!--<textarea placeholder="Comment (optional)" rows="1" name="comment">{{order.comment}}</textarea>
                            -->{{order.comment}}
                            </div>
                            
                        </div>
                        
                    </form>
                </div>
                {% endfor %}

            </div>

        </div>
       
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container" style="position: relative;bottom: 20px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        var h = $( document ).height();
        $( "#sideNav" ).height(h);
    </script>

</body>

</html>
