<!DOCTYPE html>
<html>
<body>
<h1>Create new user</h1>
<form method="post">
  user name: <input type="text" name="username"><br>
  login password:  <input type="text" name="password" ><br>
  user type:<br>
  <input type="radio" name="usertype" value="buyer" checked> Buyer<br>
  <input type="radio" name="usertype" value="seller"> Seller<br>
  <input type="radio" name="usertype" value="admin"> Admin<br>
  comment: <textarea NAME="comment" ></textarea><br>
  <input type="submit" value="Submit">
</form>

</body>
</html
