<!DOCTYPE html>
<!-- ascii art created by
    http://patorjk.com/software/taag/#p=display&f=Big%20Money-ne&t=navigation
-->
<html lang="en">
<head>
    <!-- scrips -->
    <script src="../jquery.js"></script>
    <script src="../jquery-ui.js"></script>
    <script src="../chart.js"></script>
    <script src="../util.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../clean-blog.min.js"></script>
    <!-- NOT SURE IF NEEDED
    <script src="../progressbar.js"></script>
    <script src="../myChartAndProgress.js"></script>
    <script src="../chrome.min.js"></script>
    -->
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/clean-blog.css" rel="stylesheet">
    <!-- Custom Fonts 
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel=
    "stylesheet">
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NativeGap tests</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="../https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="../https://oss.maxcdn.com/libs/respond.1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Navigation 
                                /$$                       /$$     /$$                    
                               |__/                      | $$    |__/                    
 /$$$$$$$   /$$$$$$  /$$    /$$ /$$  /$$$$$$   /$$$$$$  /$$$$$$   /$$  /$$$$$$  /$$$$$$$ 
| $$__  $$ |____  $$|  $$  /$$/| $$ /$$__  $$ |____  $$|_  $$_/  | $$ /$$__  $$| $$__  $$
| $$  \ $$  /$$$$$$$ \  $$/$$/ | $$| $$  \ $$  /$$$$$$$  | $$    | $$| $$  \ $$| $$  \ $$
| $$  | $$ /$$__  $$  \  $$$/  | $$| $$  | $$ /$$__  $$  | $$ /$$| $$| $$  | $$| $$  | $$
| $$  | $$|  $$$$$$$   \  $/   | $$|  $$$$$$$|  $$$$$$$  |  $$$$/| $$|  $$$$$$/| $$  | $$
|__/  |__/ \_______/    \_/    |__/ \____  $$ \_______/   \___/  |__/ \______/ |__/  |__/
                                    /$$  \ $$                                            
                                   |  $$$$$$/                                            
                                    \______/                                            
-->
<div id="navigation"></div>
<script type="text/javascript">
    $("#navigation").load("../navigation");
</script>
    
<!-- Main Content
                                /$$                           /$$    
                                | $$                          | $$    
  /$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$$$$$$  /$$$$$$  
 /$$_____/ /$$__  $$| $$__  $$|_  $$_/   /$$__  $$| $$__  $$|_  $$_/  
| $$      | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \ $$  | $$    
| $$      | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$  | $$  | $$ /$$
|  $$$$$$$|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$  | $$  |  $$$$/
 \_______/ \______/ |__/  |__/   \___/   \_______/|__/  |__/   \___/  
 -->
<div id="content">
</div>


    


<!-- Footer
  /$$$$$$                      /$$                        
 /$$__  $$                    | $$                        
| $$  \__//$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
| $$$$   /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$_/  | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
| $$    | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$      
| $$    |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$      
|__/     \______/  \______/    \___/   \_______/|__/      
 -->
<div id="footer"></div>
<script type="text/javascript">
    $("#footer").load("../footer");
</script>
</body>

</html>
