 <div class="container" style="min-height:390px;">
        <div class="row" >
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                



            <center>

            <!--  -->
            <!-- test sentences -->
            <!--  -->
            {% set i = 1 %}
            {% set all = "" %}
            {% for s in test.sentences %}
              <div class="testBox" id="testBox{{i}}">
                  <button class"practice" type="button" onclick="testActivated({{i}})">Test</button> 
                  <button class"practice" type="button" onclick="playAudio({{i}})">Audio</button> 
                  <!--<audio controls><source src="../audio/audio_{{i}}.mp3" type="audio/mpeg">audio not supported</audio>-->
                  <div id="gap{{i}}"></div>
                 <!-- <p id="sentence1">We were hunters and foragers, </p> -->
                  <p class = "sentence" id="sentence{{i}}">{{s}} </p> 
                  <div id="correct{{i}}" class="correctDiv" style="display: none;"><img class="correct" src="../giphy.gif" loop=1></div>
                  <hr>
              </div>
              {% set i = 1 + i %}
              {% set all = all + s + " "%}

              {% if i == test.sentences|length + 1 %}
              <!-- all sentences combined -->
              <div class="testBox" id="testBox{{i}}">
                  <button class"practice" type="button" onclick="testActivated({{i}})">Test</button> 
                  <button class"practice" type="button" onclick="playAudio({{i}})">Audio</button> 
                  <div id="gap{{i}}"></div>
                 <!-- <p id="sentence1">We were hunters and foragers, </p> -->
                  <p class = "sentence" id="sentence{{i}}">{{all}}</p> 
                  <div id="correct{{i}}" class="correctDiv" style="display: none;"><img class="correct" src="../giphy.gif" loop=1></div>
                  <hr>
              </div>
              <div id = "numTests" style = "display:none">{{i}}</div>
              {% endif %}

            {% endfor %}

            
            
            <div id="info" >
                    <p id="info_start">
                      Click on the Test icon and begin speaking.
                    </p>
                    <p id="info_speak_now" style="display:none">
                      Speak now.
                    </p>
                    <p id="info_no_speech" style="display:none">
                      No speech was detected. You may need to adjust your <a href=
                      "//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone
                      settings</a>.
                    </p>
                    <p id="info_no_microphone" style="display:none">
                      No microphone was found. Ensure that a microphone is installed and that
                      <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                      microphone settings</a> are configured correctly.
                    </p>
                    <p id="info_allow" style="display:none">
                      Click the "Allow" button above to enable your microphone.
                    </p>
                    <p id="info_denied" style="display:none">
                      Permission to use microphone was denied.
                    </p>
                    <p id="info_blocked" style="display:none">
                      Permission to use microphone is blocked. To change, go to
                      chrome://settings/contentExceptions#media-stream
                    </p>
                    <p id="info_upgrade" style="display:none">
                      Web Speech API is not supported by this browser. Upgrade to <a href=
                      "//www.google.com/chrome">Chrome</a> version 25 or later.
                    </p>

            </div>
            <!-- GO TO TEST -->
              <style type="text/css">
                  #goToTest {
                  border-radius: 25px;
                  background: black;
                  padding: 2px; 
                  width: 30%;
                  height: auto; 
                  margin: 12px;
                  color: white;
                  font-size: 22px;
                  }
                  
              </style> 
              <div id="goToTest" onclick="showTestConfirmation();">
                Go to test
              </div>
            <div id="results" style="display: none;">
                <span class="final" id="final_span"></span> <span class="interim" id=
                    "interim_span"></span>
              </div>

              <canvas id="meter" width="500" height="50"></canvas>
              <div class="compact marquee" id="div_language" style="display: none;">
                  <select id="select_language" onchange="updateCountry()">
                      </select>&nbsp;&nbsp; <select id="select_dialect">
                </select>
              </div>

            </div>
            

            <script type="text/javascript" src="/allScripts.js"></script>
            <!-- jQuery -->
            <script src="../jquery.js"></script>
            <script src="../jquery-ui.js"></script>
            <!-- Volume detection -->
            <script src="../volume2.js"></script>
            <script src="../volume.js"></script>

            <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel=
              "stylesheet">
            <!--<link href="chrome.min.css" rel="stylesheet">-->
            <script src="../chrome.min.js"></script>
            <script type="text/javascript">
                $(".testBox").hide();
                changeCurrentTest(1);
            </script>
            
            
            </center>
        </div>
    </div>