<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- scrips -->
    <script src="../jquery.js"></script>
    <script src="../jquery-ui.js"></script>
    <script src="../chart.js"></script>
    <script src="../util.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../clean-blog.min.js"></script>
    <!-- NOT SURE IF NEEDED
    <script src="../progressbar.js"></script>
    <script src="../myChartAndProgress.js"></script>
    <script src="../chrome.min.js"></script>
    -->
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts 
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="sample.html">Sample</a>
                    </li>
                    <li>
                        <a href="post.html">Sample Post</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        <hr>
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <!-- 
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	-->
    <!-- Main Content -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->

    <div class="container" style="margin-top:60px;">

        <div class="row">
        	<div class="col-sm-2 ">
        		<h1>Menu</h1>
        		<div><a href="/buyer">Inventory</a></div>
        		<!--<div><a href="/adminorders">Place order</a></div>-->
        		<div><a href="/messages">Messages?</a></div>

        	</div>
            <div class="col-sm-10 ">
            	<style type="text/css">
            	.inventory_item_name{
            		font-size: 30px;
            	}
            	</style>

            	
            	<h1>Request:</h1>
                
                    <div class="row">
                        <div class="col-sm-4 "> <span class="inventory_item_name">{{offer.item_name}}:</span></div>
                        <div class="col-sm-2 "><span class="inventory_item_price">{{offer.item_price}}</span></div>
                        <div class="col-sm-2 "><span class="inventory_item_cubics">available: {{offer.item_cubics}} &#13221;</span></div>
                        <div class="col-sm-3 "><span class="inventory_item_comment">{{offer.comment}}</span></div>
                        <div class="col-sm-1 ">
                        
                        </div>

                    </div>
                  
                    <div>
                    <form method="post" id="form1"> 
                        Comments<div><textarea name="comment" ></textarea></div>
                        <input  type="hidden" name="name" style="" value ="{{offer.item_name}}">
                        <input  type="hidden" name="price" style="" value ="{{offer.item_price}}">
                        <input  type="text" name="cubics" style="" value ="Amount">

                        <input class ="actionType" type="hidden" name="actionType" style="" value ="request">
                        <input  type="hidden" name="req_id" style="" value ="{{offer.key().id()}}">
                        <input type="submit" value="Send request">
                           
                        
                    </form>
                    </div>
                

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container" style="position: absolute;bottom: 20px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
