<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- scrips -->
    <script src="../jquery.js"></script>
    <script src="../jquery-ui.js"></script>
    <script src="../chart.js"></script>
    <script src="../util.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../clean-blog.min.js"></script>
    <!-- NOT SURE IF NEEDED
    <script src="../progressbar.js"></script>
    <script src="../myChartAndProgress.js"></script>
    <script src="../chrome.min.js"></script>
    -->
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts 
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <style type="text/css">
        #navDiv{
            height: 12vh;
            background-color: grey;
        }
        #sideNav{
            background-color: pink;
            height:100vh;
        }
        .approved_item{
            border-bottom: 1px solid grey;
            margin: 4px;
            padding: 4px;
        }
        .seller_idDiv{
            
        }
        .form-group{
            margin-bottom: 0px;
        }
        .sendDeleteDiv{
            float:right;
            margin-bottom: 6px;
            margin-right: 12px;
        }
        .addButton{
            float: right;
            margin-right: 26px;
        }
        body{
            height:100%; /* force the BODY element to match the height of the HTML element */
        }
        textarea{
            width: 95%;
        }
    </style>
    <!-- Navigation -->
    <nav >
        <div id = "navDiv">
            <ul >
                <li>
                    <a href="index.html">Home</a> <a href="about.html">About</a>  <a href="contact.html">Contact</a>
                </li>
                
            </ul>
        </div>
    </nav>
    

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <!-- 
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	-->
    <!-- Main Content -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->
    <!-- posts -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 " id="sideNav">
        		<h1>Menu</h1>
        		<div><a href="/seller">My offers</a></div>
        		<div><a href="/adminusers">Messages?</a></div>

        	</div>
            <div class="col-sm-10 ">
            	<style type="text/css">
            	.inventory_item_name{
            		font-size: 30px;
            	}
            	</style>
                <h1>Add offer:</h1>
                
                
                <div class="row">

                    <form class="form-horizontal"  method="post"  id="form1">
                    <div class="form-group">
                        
                        <div class="col-sm-4" id="form1" me>
                            <input type="text" class="form-control" name="name" placeholder="item name" value =""/>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="cubics" placeholder="cubics" value ="&#13221;"/>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="price"  placeholder="price" value ="$/&#13221;"/>
                        </div>   
                        <div class="col-sm-4"> 
                            <textarea placeholder="Comment (optional)" rows="1" name="comment"></textarea>
                        </div>
                        <div class="addButton"> 
                            <input class ="actionType" type="hidden" name="actionType" style="" value ="adding">
                            <input type="submit" value="Add">
                        </div> 
                        
                    </div>
                    </form>
                </div>

            	<h1>My offers:</h1>
                {% for offer in offers %}
                

                <form method="post"  id="form1{{offer.key().id()}}">                     
                    <input type="text" name="name" value ="{{offer.item_name}}">
                    <input type="text" name="cubics" style="width:60px;" value ="{{offer.item_cubics}}">
                    <input type="text" name="price" style="width:60px;" value ="{{offer.item_price}}">
                    <input type="text" name="comment" value ="{{offer.comment}}">
                    <input type="hidden" name="offer_id" style="" value ="{{offer.key().id()}}">
                    <input class ="actionType" type="hidden" name="actionType" style="" value ="editing">
                    <input type="submit" value="Save changes">
                        <input type="button" value="Delete" onclick="deleting({{offer.key().id()}})">
                </form>
                {% endfor %}
                

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container" style="position: relative;bottom: 20px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        var h = $( document ).height();
        $( "#sideNav" ).height(h);
    </script>

</body>

</html>
